.footer_pa{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .img_footer{
        width: 5rem;
        height: auto;
        border-radius: 30%;
        border: rgb(0, 170, 255) solid 4px;        
    }
    .container_redes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0%;
        .redes{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
            font-size: 1rem;
        }
    }
}

