header{
    border-bottom: 1px solid black;

    .img_Tit{
        width: 8rem;
        height: auto;
        border-radius: 30%;
        border: rgb(0, 170, 255) solid 4px;
    }

    .letra_menu{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 2rem;
    }
    
}

